@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Monoton&family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');


.App{
  background-image: linear-gradient(rgb(247, 179, 179), rgb(189, 158, 225));
  height: max-content;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap:15px;
  justify-items:center;
  padding: 1px 25px 1px 25px;
  padding:20px;
  padding-top:4px;
  height: max-content;
  flex: 1;
}

.card img {
  width: 150px;
}

.card{
  background-color: rgba(232, 211, 211, 0.6);
  overflow: hidden;
  width:175px;
  height:200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  text-align: center;
  border-radius: 20px;
  font-family: 'Luckiest Guy';
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}

.header{
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding:10px;
  text-align: center;
}

.title{
  padding-top:10px;
  font-family: 'Luckiest Guy', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 1px  rgb(255, 0, 128);
}

.scores{
  margin-top:5px;
  border-radius: 20px;
  padding:3px;
  margin-bottom:0;
  color: rgb(253, 253, 253);
  text-shadow: 1px 1px 5px rgb(222, 61, 155);
  display: flex;
}

.score{
  margin-left:20px;
  width:max-content;
}

footer{
  text-align: center;
  font-size: smaller;
  padding:10px;
}
a{
  color:white;
}

a:hover{
  color:rgb(135, 4, 107);
}

.card:hover{
  background-color: rgba(245, 245, 220, 0.8);
}

.card:active{
  background-color: beige;
}

@media only screen and (min-width:1366px ) {

  .App{
    align-items: center;
  }
  .cards{
    grid-template-columns: repeat(6, minmax(200px,1fr));
    width: max-content;
    height: 500px;
    flex:0;
  }

  footer{
    flex:1;
  }
}